@layer skins {
    #finalSegment {
        background: var(--color-primary);
    }

    #gameInfo {
        background: var(--color-primary);
        text-align: var(--gameinfo-text-align);
    }

    #gameTitle {
        font-size: var(--gameinfo-title-size);
        font-weight: var(--gameinfo-title-font-weight);
        padding: var(--gameinfo-title-padding);
        line-height: var(--gameinfo-title-line-height);
    }

    #gameCategory {
        margin: var(--gameinfo-category-margin);
        padding: var(--gameinfo-category-padding);
        font-size: var(--gameinfo-category-font-size);
        font-weight: var(--gameinfo-category-font-weight);
        line-height: var(--gameinfo-category-line-height);
    }

    #splitList table tr.selected {
        background: var(--active-segment-background);
        color: var(--active-segment-text-color);
    }

    #splitList td {
        border: var(--segment-border);
        border-left: 0;
        border-right: 0;
        padding: var(--segment-padding);
    }

    .splitName {
        width: var(--segment-name-width);
    }

    .splitDelta {
        text-align: var(--split-delta-text-align);
        font-family: var(--split-delta-font-family), monospace;
    }

    .splitComparison {
        text-align: var(--split-comparison-text-align);
        font-family: var(--split-comparison-font-family), monospace;
    }
}
