@layer skins {
    #gameInfo {
        position: relative;

        background-image:
            url("./images/thimbo.png"), url("./images/timwave.png"),
            var(--color-primary);

        background-repeat: no-repeat;

        background-size: contain, contain, cover;

        background-position:
            left center,
            right center,
            center;

        text-align: var(--gameinfo-text-align);
    }

    #gameTitle {
        font-size: var(--gameinfo-title-size);
        font-weight: var(--gameinfo-title-font-weight);
    }

    #gameCategory {
        margin: var(--gameinfo-category-margin);
        padding-bottom: var(--gameinfo-category-bottom-space);

        font-size: var(--gameinfo-category-font-size);
        font-weight: var(--gameinfo-category-font-weight);
    }

    #splitContainer {
        background-image: url("./images/jinxtool.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #finalSegment {
        background: var(--color-primary);
    }

    #splitList table tr.selected {
        background: var(--active-segment-background);
        color: var(--active-segment-text-color);
    }

    #splitList table td {
        border: var(--segment-border);
        padding: var(--segment-padding);
    }

    #attempts {
        position: static;
        right: auto;

        font-size: 14px;
        font-weight: var(--gameinfo-category-font-weight);
    }

    .comparison-mode {
        display: none;
    }

    .splitDelta {
        font-family: var(--split-delta-font-family), monospace;
    }

    .splitComparison {
        font-family: var(--split-comparison-font-family), monospace;
    }
}
