@layer vars {
    :root {
        /* colors */
        --color-primary: linear-gradient(to bottom, #4884bb, #053768);

        /* Layout */
        --splitter-layout: vertical;
        --splitlist-direction: column;

        /*
         * ============================================================
         * Game information components
         * ============================================================
         */

        --splitter-game-title-min-width: 115px;
        --splitter-game-title-min-height: 28px;

        --splitter-game-category-min-width: 100px;
        --splitter-game-category-min-height: 26px;

        --splitter-game-variable-min-width: 100px;
        --splitter-game-variable-min-height: 20px;

        --splitter-attempts-min-width: 40px;
        --splitter-attempts-min-height: 20px;

        --splitter-game-info-padding-width: 32px;
        --splitter-game-info-padding-height: 24px;

        /*
         * ============================================================
         * Segment components
         * ============================================================
         */

        /*--splitter-segment-icon-min-width: 40px;*/
        /*--splitter-segment-icon-min-height: 40px;*/

        --splitter-segment-name-min-width: 30px;
        --splitter-segment-name-min-height: 40px;

        --splitter-segment-delta-min-width: 30px;
        --splitter-segment-delta-min-height: 32px;

        --splitter-segment-comparison-min-width: 30px;
        --splitter-segment-comparison-min-height: 32px;

        --splitter-segment-time-min-width: 30px;
        --splitter-segment-time-min-height: 32px;

        /*
         * ============================================================
         * Splitter info components
         * ============================================================
         */

        --splitter-comparison-min-width: 200px;
        --splitter-comparison-min-height: 30px;

        /*
         * ============================================================
         * Timer components
         * ============================================================
         */

        --splitter-timer-sign-min-width: 25px;
        --splitter-timer-sign-min-height: 60px;

        --splitter-timer-hours-min-width: 25px;
        --splitter-timer-hours-min-height: 60px;

        --splitter-timer-separator-hours-minutes-min-width: 25px;
        --splitter-timer-separator-hours-minutes-min-height: 60px;

        --splitter-timer-minutes-min-width: 25px;
        --splitter-timer-minutes-min-height: 60px;

        --splitter-timer-separator-minutes-seconds-min-width: 25px;
        --splitter-timer-separator-minutes-seconds-min-height: 60px;

        --splitter-timer-seconds-min-width: 25px;
        --splitter-timer-seconds-min-height: 60px;

        --splitter-timer-separator-seconds-centis-min-width: 25px;
        --splitter-timer-separator-seconds-centis-min-height: 60px;

        --splitter-timer-centis-min-width: 42px;
        --splitter-timer-centis-min-height: 60px;

        /*
         * ============================================================
         * World Record components
         * ============================================================
         */

        --splitter-world-record-label-min-width: 20px;
        --splitter-world-record-label-min-height: 20px;

        --splitter-world-record-names-min-width: 20px;
        --splitter-world-record-names-min-height: 20px;

        --splitter-world-record-rt-label-min-width: 20px;
        --splitter-world-record-rt-label-min-height: 20px;

        --splitter-world-record-rt-time-min-width: 20px;
        --splitter-world-record-rt-time-min-height: 20px;

        --splitter-world-record-rt-centiseconds-min-width: 20px;
        --splitter-world-record-rt-centiseconds-min-height: 20px;

        --splitter-info-padding-width: 16px;
        --splitter-info-padding-height: 16px;

        /* game information section */
        --gameinfo-text-align: center;
        --gameinfo-title-size: 18px;
        --gameinfo-title-font-weight: normal;
        --gameinfo-category-margin: 0;
        --gameinfo-category-bottom-space: 6px;
        --gameinfo-category-font-size: 18px;
        --gameinfo-category-font-weight: normal;

        /* segment list */
        --active-segment-background: #000;
        --active-segment-text-color: #fff;
        --segment-border: 2px solid #333;
        --splitter-segment-value-spacing: 5px;

        --split-delta-font-family: Monofonto, monospace;
        --split-delta-text-align: right;

        --split-comparison-text-align: right;
        --split-comparison-font-family: Monofonto, monospace;
    }
}
