@layer skins {
    #time-container {
        padding: 10px;

        /* background-image: url("./tooltime.png"); */
        background-repeat: no-repeat;
        background-position: left center;

        font-family: "Monofonto", sans-serif;
        font-size: 50px;
    }

    .timer-ahead {
        color: greenyellow;
    }

    .timer-behind {
        background: #000;
        color: #f00;
    }

    .timer-gold {
        color: gold;
    }
}
