@layer skins {
    #timer-container {
        padding: 10px;

        background-image: url("./images/chocoborace.png?v=2");
        background-repeat: no-repeat;
        background-position: left center;
    }

    #time-container {
        font-family: "Monofonto", sans-serif;
        font-size: 50px;
    }

    .timer-ahead {
        color: greenyellow;
    }

    .timer-behind {
        background: #000;
        color: #f00;
    }

    .timer-gold {
        color: gold;
    }
}
