@layer skins {
    #gameInfo {
        position: relative;

        background: var(--color-primary);

        text-align: var(--gameinfo-text-align);
    }

    #gameTitle {
        font-size: var(--gameinfo-title-size);
        font-weight: var(--gameinfo-title-font-weight);
    }

    #gameCategory {
        margin: var(--gameinfo-category-margin);
        padding-bottom: var(--gameinfo-category-bottom-space);

        font-size: var(--gameinfo-category-font-size);
        font-weight: var(--gameinfo-category-font-weight);
    }

    #finalSegment {
        background: var(--color-primary);
    }

    #splitList table tr.selected {
        background: var(--active-segment-background);
        color: var(--active-segment-text-color);
    }

    #splitList table td {
        border: var(--segment-border);
        padding: var(--segment-padding);
    }

    .splitDelta {
        font-family: var(--split-delta-font-family), monospace;
    }

    .splitComparison {
        font-family: var(--split-comparison-font-family), monospace;
    }
}
