@layer overrides {
    :root {
    }

    /*
     * When the timer is showing a gold split, replace the normal
     * running animation with the fast-running animation.
     */
    body:has(.timer-gold) #time-container {
        background-image: url("./images/samusrunningfast.gif");
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
    }
}
